.background {
  background-image: url('../image/bizimage.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: top;
  margin-bottom: 20px;
}

.heading {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Poppins', sans-serif;
}

.buttons {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  margin-bottom: 20px;
}

.button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}
